
.dashBoardcard{
    height: 550px;
    width: 700px;
    background-color: beige !important;
}

.dashboard{
    margin-top: 10px;
}

.todoUl{
    padding-top: 20px;
    float: left;
    width:667px; 
    overflow-y:scroll; 
    position:relative;
    height: 428px;
}


.toDoLi{
    border-color: #007bff
}
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
 
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }